<div class= "row">
  <div class = "col-md-offset-1 col-md-5">
    <ul>
      <li>&copy; 2013 TagSlide</li>
    </ul>
  </div>
  <div class = "pull-right col-md-4">
    <ul>
      <li><%= link_to "主页", root_path %></li>
    </ul>
  </div>
</div>
