<li>
<a href=<%= "#{powerpoint_path(powerpoint)}"%>>
	<span class = "thumb-wrapper">
	<span>
		<%= image_tag "#{powerpoint.image_url(:thumb)}", alt: powerpoint.title,size: "128x90" %>
	</span>
	</span>
	<span class = "aside-title"><%= powerpoint.title %></span>
	</a>
</li>
