<% provide(:title, "All") %>
<%= paginate @powerpoints, window: 2 %>

<div class = "row">  
	  <%= render partial: 'page_ppt', collection: @powerpoints, as: :ppt %>
</div>

<%= paginate @powerpoints, window: 2 %>
