<!DOCTYPE html>
<html>
  <head>
  <title><%= @powerpoint.title %></title>
    <meta charset='utf-8'>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/assets/interactions.js"></script>
    <script src='http://html5slides.googlecode.com/svn/trunk/slides.js'></script>
    <link href="http://slides.html5rocks.com/css/common.css" rel="stylesheet" media="screen" />
    <link   href="/assets/tagslide.css" media = "all" rel = "stylesheet">
    <script src='http://slides.html5rocks.com/js/utils.js'></script>
	<script src="/assets/jquery_ujs.js"></script>
	<link type="image/vnd.microsoft.icon" rel="shortcut icon" href="/assets/favicon.png">
    
  </head>
  <body style='display: none'>
    <nav id="helpers">
    <div class = "tag-list">
        <span class = "ppt-desc">标签：</span>
        <div class = "tags">
            <% @powerpoint.tags.any? %>
                <% @powerpoint.tags.each do |tag| %>
                    <div class = "tag tag-label">
                        <span><%= link_to tag.name, tagged_url(:tag => tag.name) %></span>
                    </div>
                <% end %>
        </div>
        <div class="clearfix"></div>
    </div>
    <%= render partial: 'favourites/favourite', locals: {powerpoint: @powerpoint} %>
    </nav>
    <section class='slides layout-regular'>
    <% if @powerpoint.page_count > 0 %>
      <% for page in (1..@powerpoint.page_count) %>
        <%= render partial: 'powerpoints/onepage', locals: {page: page,powerpoint: @powerpoint} %>
      <% end %>
    <% else %>
      <div>NOT FOUND,这个逻辑放在controller里面更好</div>
    <% end %>
    </section>
  </body>
</html>
